.contact {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #a8561c; /* Brown background color for the contact section */
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: -40px;
    background-color: #748959; /* Brown background color for the h2 */
    color: #fff; /* White text color for the h2 */
    padding: 10px; /* Add padding to the h2 for better visibility */
    margin-left: -30px;
    margin-right: -30px;
  }