.form {
    background: none; /* No background color */
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8); /* White border with transparency */
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}

h1,
p,
label,
textarea,
input,
button {
    color: #fff; /* White text color */
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea,
input {
    width: calc(100% - 20px); /* Adjust width with some spacing */
    font-weight: 400;
    padding: 8px 10px;
    margin-bottom: 15px; /* Add space between input fields and text areas */
    border: 2px solid rgba(255, 255, 255, 0.8); /* White border with transparency */
    background: none; /* No background color */
    color: #fff; /* White text color */
}

textarea:focus,
input:focus {
    outline: none;
    border-color: #6f6df4;
}


button {
    border: 2px solid #fff; /* White border for button */
    padding: 10px 20px;
    background: none; /* No background color */
    border-radius: 3px;
}



/* Default styles for all devices */

/* Media query for iPhone SE and similar devices */
/* Media query for iPhone SE and similar devices */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .form {
    width: 75%; /* Adjust the width as needed */
    min-width: auto; /* Remove the minimum width restriction */
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px 20px; /* Adjust the padding to bring the border down */
    margin-top: 0rem; /* Adjust the margin to provide more spacing from the top */
    border-radius: 10px; /* Add border radius for a rounded appearance */
    margin-left: 2px;
}

    /* Additional styles for smaller screens if needed */
}

  /* Media query for standard smartphones */
  @media only screen and (min-width: 569px) and (max-width: 767px) {
      
  }
  
  /* Media query for tablets and larger smartphones */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
   
  }
  
  /* Media query for small laptops and desktops */
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Adjust styles for small laptops and desktops */
  }
  
  /* Media query for medium-sized laptops and desktops */
  @media only screen and (min-width: 1280px) and (max-width: 1599px) {
    /* Adjust styles for medium-sized laptops and desktops */
  }
  
  /* Media query for larger laptops and desktops */
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    /* Adjust styles for larger laptops and desktops */
  }
  
  /* Media query for extra-large screens (1920px and above) */
  @media only screen and (min-width: 1920px) {
    /* Adjust styles for extra-large screens (1920px and above) */
  }
  